<div style="float: right; color:red; font-weight:bold;">Rename this file before you work on it!</div>
# Exercise on Joins :: Part 2
Use the Adventure Works dataset to create the following reports. The dataset is availablt for download in it's original format at https://msdn.microsoft.com/en-us/library/hh403424.aspx (follow instructions to download).

## Task
1. write the Python Pandas expression to produce a table as described in the problem statements.
2. The SQL expression may give you a hint. It also allows you to see both systems side-by-side.
3. If you don't know SQL just ignore the SQL code.

In [1]:
import pandas as pd
import numpy as np

In [3]:
Employees = pd.read_excel('/home/data/AdventureWorks/Employees.xls')
Territory = pd.read_excel('/home/data/AdventureWorks/SalesTerritory.xls')
Customers = pd.read_excel('/home/data/AdventureWorks/Customers.xls')
Orders = pd.read_excel('/home/data/AdventureWorks/ItemsOrdered.xls')

### 1a. Provide a count of the number of salespeople in the company

SELECT COUNT(*)
	FROM dbo.Employees AS e
	INNER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	;

In [5]:
Employees.merge(Territory, how='inner').EmployeeID.count()

14

### 1b. Instead of a count, list the salespeople along with their territories
Show columns: EmployeeID, FirstName, LastName, TerritoryName, CountryCode, Region

SELECT e.EmployeeID, e.FirstName, e.LastName, st.Name, st.CountryCode, st.Region
	FROM dbo.Employees AS e
	INNER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	;

In [13]:
salesterr=pd.merge(Employees,Territory, on='TerritoryID', how='inner')
salesterr[['EmployeeID', 'FirstName', 'LastName', 'Name', 'CountryCode', 'Region']]

,EmployeeID,FirstName,LastName,Name,CountryCode,Region
0,278,Garrett,Vargas,Canada,CA,North America
1,282,José,Saraiva,Canada,CA,North America
2,283,David,Campbell,Northwest,US,North America
3,284,Tete,Mensa-Annan,Northwest,US,North America
4,280,Pamela,Ansman-Wolfe,Northwest,US,North America
5,276,Linda,Mitchell,Southwest,US,North America
6,281,Shu,Ito,Southwest,US,North America
7,286,Lynn,Tsoflias,Australia,AU,Pacific
8,277,Jillian,Carson,Central,US,North America
9,275,Michael,Blythe,Northeast,US,North America
10,279,Tsvi,Reiter,Southeast,US,North America
11,290,Ranjit,Varkey Chudukatil,France,FR,Europe
12,289,Jae,Pak,United Kingdom,GB,Europe
13,288,Rachel,Valdez,Germany,DE,Europe

### 1c. Now include in the result set all other non-sales employees

SELECT e.EmployeeID, e.FirstName, e.LastName, st.Name, st.CountryCode, st.Region
	FROM dbo.Employees AS e
	LEFT OUTER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	;

In [14]:
salesterr=pd.merge(Employees,Territory, on='TerritoryID', how='left')
salesterr[['EmployeeID', 'FirstName', 'LastName', 'Name', 'CountryCode', 'Region']]

,EmployeeID,FirstName,LastName,Name,CountryCode,Region
0,259.0,Ben,Miller,NaN,NaN,NaN
1,204.0,Gabe,Mares,NaN,NaN,NaN
2,78.0,Reuben,D'sa,NaN,NaN,NaN
3,255.0,Gordon,Hee,NaN,NaN,NaN
4,66.0,Karan,Khanna,NaN,NaN,NaN
5,270.0,François,Ajenstat,NaN,NaN,NaN
6,22.0,Sariya,Harnpadoungsataya,NaN,NaN,NaN
7,161.0,Kirk,Koenigsbauer,NaN,NaN,NaN
8,124.0,Kim,Ralls,NaN,NaN,NaN
9,10.0,Michael,Raheem,NaN,NaN,NaN
10,248.0,Mike,Seamans,NaN,NaN,NaN
11,175.0,Reed,Koch,NaN,NaN,NaN
12,155.0,Fadi,Fakhouri,NaN,NaN,NaN
13,144.0,Paul,Singh,NaN,NaN,NaN
14,192.0,Brenda,Diaz,NaN,NaN,NaN
15,166.0,Jack,Richins,NaN,NaN,NaN
16,112.0,John,Evans,NaN,NaN,NaN
17,203.0,Ken,Myer,NaN,NaN,NaN
18,245.0,Barbara,Moreland,NaN,NaN,NaN
19,257.0,Eric,Kurjan,NaN,NaN,NaN
20,244.0,Bryan,Walton,NaN,NaN,NaN
21,69.0,Steve,Masters,NaN,NaN,NaN
22,210.0,Belinda,Newman,NaN,NaN,NaN
23,163.0,Alex,Nayberg,NaN,NaN,NaN
24,118.0,Don,Hall,NaN,NaN,NaN
25,176.0,David,Lawrence,NaN,NaN,NaN
26,147.0,Sandra,Reátegui Alayo,NaN,NaN,NaN
27,138.0,Samantha,Smith,NaN,NaN,NaN
28,95.0,Jim,Scardelis,NaN,NaN,NaN
29,231.0,Jo,Berry,NaN,NaN,NaN
...,...,...,...,...,...,...
263,239.0,Mindy,Martin,NaN,NaN,NaN
264,27.0,Jo,Brown,NaN,NaN,NaN
265,186.0,Shane,Kim,NaN,NaN,NaN
266,38.0,Kim,Abercrombie,NaN,NaN,NaN
267,154.0,Raymond,Sam,NaN,NaN,NaN
268,114.0,Mindaugas,Krapauskas,NaN,NaN,NaN
269,123.0,Vamsi,Kuppa,NaN,NaN,NaN
270,29.0,Mark,McArthur,NaN,NaN,NaN
271,101.0,Houman,Pournasseh,NaN,NaN,NaN
272,221.0,Chris,Norred,NaN,NaN,NaN
273,18.0,John,Wood,NaN,NaN,NaN
274,46.0,Eugene,Kogan,NaN,NaN,NaN
275,202.0,Tawana,Nusbaum,NaN,NaN,NaN
276,999.0,Chadwick,Smith,NaN,NaN,NaN
277,278.0,Garrett,Vargas,Canada,CA,North America
278,282.0,José,Saraiva,Canada,CA,North America
279,283.0,David,Campbell,Northwest,US,North America
280,284.0,Tete,Mensa-Annan,Northwest,US,North America
281,280.0,Pamela,Ansman-Wolfe,Northwest,US,North America
282,276.0,Linda,Mitchell,Southwest,US,North America
283,281.0,Shu,Ito,Southwest,US,North America
284,286.0,Lynn,Tsoflias,Australia,AU,Pacific
285,277.0,Jillian,Carson,Central,US,North America
286,275.0,Michael,Blythe,Northeast,US,North America
287,279.0,Tsvi,Reiter,Southeast,US,North America
288,290.0,Ranjit,Varkey Chudukatil,France,FR,Europe
289,289.0,Jae,Pak,United Kingdom,GB,Europe
290,288.0,Rachel,Valdez,Germany,DE,Europe
291,NaN,NaN,NaN,Brazil,BR,South America
292,NaN,NaN,NaN,Mexico,MX,North America

### 1d. Sort the results with the salespeople at the top

SELECT e.EmployeeID, e.FirstName, e.LastName, st.Name, st.CountryCode, st.Region
	FROM dbo.Employees AS e
	LEFT OUTER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	ORDER BY COALESCE(st.Region, 'ZZZZZZZZZZZZZZ') 
	;

In [16]:
salesterr=pd.merge(Employees,Territory, on='TerritoryID', how='left')
salesterr[['EmployeeID', 'FirstName', 'LastName', 'Name', 'CountryCode', 'Region']].sort_values('Region')

,EmployeeID,FirstName,LastName,Name,CountryCode,Region
288,290.0,Ranjit,Varkey Chudukatil,France,FR,Europe
289,289.0,Jae,Pak,United Kingdom,GB,Europe
290,288.0,Rachel,Valdez,Germany,DE,Europe
277,278.0,Garrett,Vargas,Canada,CA,North America
278,282.0,José,Saraiva,Canada,CA,North America
279,283.0,David,Campbell,Northwest,US,North America
280,284.0,Tete,Mensa-Annan,Northwest,US,North America
281,280.0,Pamela,Ansman-Wolfe,Northwest,US,North America
282,276.0,Linda,Mitchell,Southwest,US,North America
283,281.0,Shu,Ito,Southwest,US,North America
285,277.0,Jillian,Carson,Central,US,North America
286,275.0,Michael,Blythe,Northeast,US,North America
287,279.0,Tsvi,Reiter,Southeast,US,North America
292,NaN,NaN,NaN,Mexico,MX,North America
284,286.0,Lynn,Tsoflias,Australia,AU,Pacific
291,NaN,NaN,NaN,Brazil,BR,South America
0,259.0,Ben,Miller,NaN,NaN,NaN
1,204.0,Gabe,Mares,NaN,NaN,NaN
2,78.0,Reuben,D'sa,NaN,NaN,NaN
3,255.0,Gordon,Hee,NaN,NaN,NaN
4,66.0,Karan,Khanna,NaN,NaN,NaN
5,270.0,François,Ajenstat,NaN,NaN,NaN
6,22.0,Sariya,Harnpadoungsataya,NaN,NaN,NaN
7,161.0,Kirk,Koenigsbauer,NaN,NaN,NaN
8,124.0,Kim,Ralls,NaN,NaN,NaN
9,10.0,Michael,Raheem,NaN,NaN,NaN
10,248.0,Mike,Seamans,NaN,NaN,NaN
11,175.0,Reed,Koch,NaN,NaN,NaN
12,155.0,Fadi,Fakhouri,NaN,NaN,NaN
13,144.0,Paul,Singh,NaN,NaN,NaN
...,...,...,...,...,...,...
247,209.0,Kathie,Flood,NaN,NaN,NaN
248,50.0,Sidney,Higa,NaN,NaN,NaN
249,222.0,A. Scott,Wright,NaN,NaN,NaN
250,70.0,David,Ortiz,NaN,NaN,NaN
251,219.0,Sean,Chai,NaN,NaN,NaN
252,148.0,Jason,Watters,NaN,NaN,NaN
253,140.0,Prasanna,Samarawickrama,NaN,NaN,NaN
254,5.0,Gail,Erickson,NaN,NaN,NaN
255,252.0,Arvind,Rao,NaN,NaN,NaN
256,266.0,Peter,Connelly,NaN,NaN,NaN
257,233.0,Magnus,Hedlund,NaN,NaN,NaN
258,83.0,Patrick,Cook,NaN,NaN,NaN
259,251.0,Mikael,Sandberg,NaN,NaN,NaN
260,241.0,David,Liu,NaN,NaN,NaN
261,25.0,James,Hamilton,NaN,NaN,NaN
262,108.0,Jinghao,Liu,NaN,NaN,NaN
263,239.0,Mindy,Martin,NaN,NaN,NaN
264,27.0,Jo,Brown,NaN,NaN,NaN
265,186.0,Shane,Kim,NaN,NaN,NaN
266,38.0,Kim,Abercrombie,NaN,NaN,NaN
267,154.0,Raymond,Sam,NaN,NaN,NaN
268,114.0,Mindaugas,Krapauskas,NaN,NaN,NaN
269,123.0,Vamsi,Kuppa,NaN,NaN,NaN
270,29.0,Mark,McArthur,NaN,NaN,NaN
271,101.0,Houman,Pournasseh,NaN,NaN,NaN
272,221.0,Chris,Norred,NaN,NaN,NaN
273,18.0,John,Wood,NaN,NaN,NaN
274,46.0,Eugene,Kogan,NaN,NaN,NaN
275,202.0,Tawana,Nusbaum,NaN,NaN,NaN
276,999.0,Chadwick,Smith,NaN,NaN,NaN

### 1e. It turns out we don't need territory information for our American salespeople
Only show information for territories outside the U.S.

SELECT e.EmployeeID, e.FirstName, e.LastName, st.Name, st.CountryCode, st.Region
	FROM dbo.Employees AS e
	LEFT OUTER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID AND st.CountryCode != 'US'
	ORDER BY COALESCE(st.Region, 'ZZZZZZZZZZZZZZ') 
	;

In [17]:
salesterr=pd.merge(Employees,Territory[Territory.CountryCode != 'US'], on='TerritoryID', how='left')
salesterr[['EmployeeID', 'FirstName', 'LastName', 'Name', 'CountryCode', 'Region']].sort_values('Region')

,EmployeeID,FirstName,LastName,Name,CountryCode,Region
288,290.0,Ranjit,Varkey Chudukatil,France,FR,Europe
289,289.0,Jae,Pak,United Kingdom,GB,Europe
290,288.0,Rachel,Valdez,Germany,DE,Europe
277,278.0,Garrett,Vargas,Canada,CA,North America
278,282.0,José,Saraiva,Canada,CA,North America
292,NaN,NaN,NaN,Mexico,MX,North America
284,286.0,Lynn,Tsoflias,Australia,AU,Pacific
291,NaN,NaN,NaN,Brazil,BR,South America
0,259.0,Ben,Miller,NaN,NaN,NaN
1,204.0,Gabe,Mares,NaN,NaN,NaN
2,78.0,Reuben,D'sa,NaN,NaN,NaN
3,255.0,Gordon,Hee,NaN,NaN,NaN
4,66.0,Karan,Khanna,NaN,NaN,NaN
5,270.0,François,Ajenstat,NaN,NaN,NaN
6,22.0,Sariya,Harnpadoungsataya,NaN,NaN,NaN
7,161.0,Kirk,Koenigsbauer,NaN,NaN,NaN
8,124.0,Kim,Ralls,NaN,NaN,NaN
9,10.0,Michael,Raheem,NaN,NaN,NaN
10,248.0,Mike,Seamans,NaN,NaN,NaN
11,175.0,Reed,Koch,NaN,NaN,NaN
12,155.0,Fadi,Fakhouri,NaN,NaN,NaN
13,144.0,Paul,Singh,NaN,NaN,NaN
14,192.0,Brenda,Diaz,NaN,NaN,NaN
15,166.0,Jack,Richins,NaN,NaN,NaN
16,112.0,John,Evans,NaN,NaN,NaN
17,203.0,Ken,Myer,NaN,NaN,NaN
18,245.0,Barbara,Moreland,NaN,NaN,NaN
19,257.0,Eric,Kurjan,NaN,NaN,NaN
20,244.0,Bryan,Walton,NaN,NaN,NaN
21,69.0,Steve,Masters,NaN,NaN,NaN
...,...,...,...,...,...,...
255,252.0,Arvind,Rao,NaN,NaN,NaN
256,266.0,Peter,Connelly,NaN,NaN,NaN
257,233.0,Magnus,Hedlund,NaN,NaN,NaN
258,83.0,Patrick,Cook,NaN,NaN,NaN
259,251.0,Mikael,Sandberg,NaN,NaN,NaN
260,241.0,David,Liu,NaN,NaN,NaN
261,25.0,James,Hamilton,NaN,NaN,NaN
262,108.0,Jinghao,Liu,NaN,NaN,NaN
263,239.0,Mindy,Martin,NaN,NaN,NaN
264,27.0,Jo,Brown,NaN,NaN,NaN
265,186.0,Shane,Kim,NaN,NaN,NaN
266,38.0,Kim,Abercrombie,NaN,NaN,NaN
267,154.0,Raymond,Sam,NaN,NaN,NaN
268,114.0,Mindaugas,Krapauskas,NaN,NaN,NaN
269,123.0,Vamsi,Kuppa,NaN,NaN,NaN
270,29.0,Mark,McArthur,NaN,NaN,NaN
271,101.0,Houman,Pournasseh,NaN,NaN,NaN
272,221.0,Chris,Norred,NaN,NaN,NaN
273,18.0,John,Wood,NaN,NaN,NaN
274,46.0,Eugene,Kogan,NaN,NaN,NaN
275,202.0,Tawana,Nusbaum,NaN,NaN,NaN
276,999.0,Chadwick,Smith,NaN,NaN,NaN
279,283.0,David,Campbell,NaN,NaN,NaN
280,284.0,Tete,Mensa-Annan,NaN,NaN,NaN
281,280.0,Pamela,Ansman-Wolfe,NaN,NaN,NaN
282,276.0,Linda,Mitchell,NaN,NaN,NaN
283,281.0,Shu,Ito,NaN,NaN,NaN
285,277.0,Jillian,Carson,NaN,NaN,NaN
286,275.0,Michael,Blythe,NaN,NaN,NaN
287,279.0,Tsvi,Reiter,NaN,NaN,NaN

### 2a. Take the query from #1b above, but add information for each employee's manager
Show additional columns: ManagerFirstName, ManagerLastName, ManagerJobTitle

SELECT e.EmployeeID, e.FirstName, e.LastName, st.Name, st.CountryCode, st.Region, mgr.FirstName, mgr.LastName, mgr.JobTitle
	FROM dbo.Employees AS e
	INNER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	LEFT OUTER JOIN dbo.Employees as mgr
		on e.ManagerID = mgr.EmployeeID
	;

In [30]:
salesteam=pd.merge(Employees,Territory, on='TerritoryID', how='inner')
mngr=pd.merge(salesteam,Employees, left_on='ManagerID',right_on='EmployeeID', how='left')
mngr[['EmployeeID_x', 'FirstName_x', 'LastName_x', 'Name','CountryCode', 'Region','FirstName_y', 'LastName_y', 'JobTitle_y']]

,EmployeeID_x,FirstName_x,LastName_x,Name,CountryCode,Region,FirstName_y,LastName_y,JobTitle_y
0,278.0,Garrett,Vargas,Canada,CA,North America,Stephen,Jiang,North American Sales Manager
1,282.0,José,Saraiva,Canada,CA,North America,Stephen,Jiang,North American Sales Manager
2,283.0,David,Campbell,Northwest,US,North America,Stephen,Jiang,North American Sales Manager
3,284.0,Tete,Mensa-Annan,Northwest,US,North America,Stephen,Jiang,North American Sales Manager
4,280.0,Pamela,Ansman-Wolfe,Northwest,US,North America,Stephen,Jiang,North American Sales Manager
5,276.0,Linda,Mitchell,Southwest,US,North America,Stephen,Jiang,North American Sales Manager
6,281.0,Shu,Ito,Southwest,US,North America,Stephen,Jiang,North American Sales Manager
7,277.0,Jillian,Carson,Central,US,North America,Stephen,Jiang,North American Sales Manager
8,275.0,Michael,Blythe,Northeast,US,North America,Stephen,Jiang,North American Sales Manager
9,279.0,Tsvi,Reiter,Southeast,US,North America,Stephen,Jiang,North American Sales Manager
10,286.0,Lynn,Tsoflias,Australia,AU,Pacific,Syed,Abbas,Pacific Sales Manager
11,290.0,Ranjit,Varkey Chudukatil,France,FR,Europe,Amy,Alberts,European Sales Manager
12,289.0,Jae,Pak,United Kingdom,GB,Europe,Amy,Alberts,European Sales Manager
13,288.0,Rachel,Valdez,Germany,DE,Europe,Amy,Alberts,European Sales Manager
14,NaN,NaN,NaN,NaN,NaN,NaN,Ben,Miller,Buyer
15,NaN,NaN,NaN,NaN,NaN,NaN,Garrett,Vargas,Sales Representative
16,NaN,NaN,NaN,NaN,NaN,NaN,Gabe,Mares,Production Technician - WC40
17,NaN,NaN,NaN,NaN,NaN,NaN,Reuben,D'sa,Production Supervisor - WC40
18,NaN,NaN,NaN,NaN,NaN,NaN,Gordon,Hee,Buyer
19,NaN,NaN,NaN,NaN,NaN,NaN,Karan,Khanna,Production Technician - WC60
20,NaN,NaN,NaN,NaN,NaN,NaN,François,Ajenstat,Database Administrator
21,NaN,NaN,NaN,NaN,NaN,NaN,Sariya,Harnpadoungsataya,Marketing Specialist
22,NaN,NaN,NaN,NaN,NaN,NaN,Kirk,Koenigsbauer,Production Technician - WC45
23,NaN,NaN,NaN,NaN,NaN,NaN,Kim,Ralls,Stocker
24,NaN,NaN,NaN,NaN,NaN,NaN,Michael,Raheem,Research and Development Manager
25,NaN,NaN,NaN,NaN,NaN,NaN,Mike,Seamans,Accountant
26,NaN,NaN,NaN,NaN,NaN,NaN,Reed,Koch,Production Technician - WC30
27,NaN,NaN,NaN,NaN,NaN,NaN,Fadi,Fakhouri,Production Technician - WC20
28,NaN,NaN,NaN,NaN,NaN,NaN,Paul,Singh,Production Technician - WC20
29,NaN,NaN,NaN,NaN,NaN,NaN,Brenda,Diaz,Production Supervisor - WC40
...,...,...,...,...,...,...,...,...,...
272,NaN,NaN,NaN,NaN,NaN,NaN,David,Ortiz,Production Technician - WC60
273,NaN,NaN,NaN,NaN,NaN,NaN,Sean,Chai,Document Control Assistant
274,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Watters,Production Technician - WC30
275,NaN,NaN,NaN,NaN,NaN,NaN,Prasanna,Samarawickrama,Production Technician - WC20
276,NaN,NaN,NaN,NaN,NaN,NaN,Ranjit,Varkey Chudukatil,Sales Representative
277,NaN,NaN,NaN,NaN,NaN,NaN,Gail,Erickson,Design Engineer
278,NaN,NaN,NaN,NaN,NaN,NaN,Arvind,Rao,Buyer
279,NaN,NaN,NaN,NaN,NaN,NaN,Peter,Connelly,Network Administrator
280,NaN,NaN,NaN,NaN,NaN,NaN,Magnus,Hedlund,Facilities Administrative Assistant
281,NaN,NaN,NaN,NaN,NaN,NaN,Patrick,Cook,Production Technician - WC40
282,NaN,NaN,NaN,NaN,NaN,NaN,Mikael,Sandberg,Buyer
283,NaN,NaN,NaN,NaN,NaN,NaN,David,Liu,Accounts Manager
284,NaN,NaN,NaN,NaN,NaN,NaN,James,Hamilton,Vice President of Production
285,NaN,NaN,NaN,NaN,NaN,NaN,Jinghao,Liu,Production Supervisor - WC50
286,NaN,NaN,NaN,NaN,NaN,NaN,Mindy,Martin,Benefits Specialist
287,NaN,NaN,NaN,NaN,NaN,NaN,Jo,Brown,Production Supervisor - WC60
288,NaN,NaN,NaN,NaN,NaN,NaN,Shane,Kim,Production Supervisor - WC45
289,NaN,NaN,NaN,NaN,NaN,NaN,Kim,Abercrombie,Production Technician - WC60
290,NaN,NaN,NaN,NaN,NaN,NaN,Raymond,Sam,Production Technician - WC20
291,NaN,NaN,NaN,NaN,NaN,NaN,Mindaugas,Krapauskas,Production Technician - WC50
292,NaN,NaN,NaN,NaN,NaN,NaN,Vamsi,Kuppa,Shipping and Receiving Clerk
293,NaN,NaN,NaN,NaN,NaN,NaN,Mark,McArthur,Production Technician - WC60
294,NaN,NaN,NaN,NaN,NaN,NaN,Houman,Pournasseh,Production Technician - WC50
295,NaN,NaN,NaN,NaN,NaN,NaN,Chris,Norred,Control Specialist
296,NaN,NaN,NaN,NaN,NaN,NaN,John,Wood,Marketing Specialist
297,NaN,NaN,NaN,NaN,NaN,NaN,Eugene,Kogan,Production Technician - WC60
298,NaN,NaN,NaN,NaN,NaN,NaN,Tawana,Nusbaum,Production Technician - WC40
299,NaN,NaN,NaN,NaN,NaN,NaN,Jae,Pak,Sales Representative
300,NaN,NaN,NaN,NaN,NaN,NaN,Rachel,Valdez,Sales Representative
301,NaN,NaN,NaN,NaN,NaN,NaN,Chadwick,Smith,BI Professor

### 2b. Only show salespeople who report to Amy Alberts

SELECT e.EmployeeID, e.FirstName, e.LastName, st.Name, st.CountryCode, st.Region, mgr.FirstName, mgr.LastName, mgr.JobTitle
	FROM dbo.Employees AS e
	INNER JOIN dbo.SalesTerritory AS st
		ON e.TerritoryID = st.TerritoryID
	LEFT OUTER JOIN dbo.Employees as mgr
		ON e.ManagerID = mgr.EmployeeID
	WHERE CONCAT(mgr.FirstName, mgr.LastName) = 'AmyAlberts'
	;

In [46]:
salesteam=pd.merge(Employees,Territory, on='TerritoryID', how='inner')
mngr=pd.merge(salesteam,Employees[Employees.FirstName.str.cat(Employees.LastName, sep='')=='AmyAlberts'], left_on='ManagerID',right_on='EmployeeID', how='left')
mngr[['EmployeeID_x', 'FirstName_x', 'LastName_x', 'Name','CountryCode', 'Region','FirstName_y', 'LastName_y', 'JobTitle_y']]

,EmployeeID_x,FirstName_x,LastName_x,Name,CountryCode,Region,FirstName_y,LastName_y,JobTitle_y
0,278,Garrett,Vargas,Canada,CA,North America,NaN,NaN,NaN
1,282,José,Saraiva,Canada,CA,North America,NaN,NaN,NaN
2,283,David,Campbell,Northwest,US,North America,NaN,NaN,NaN
3,284,Tete,Mensa-Annan,Northwest,US,North America,NaN,NaN,NaN
4,280,Pamela,Ansman-Wolfe,Northwest,US,North America,NaN,NaN,NaN
5,276,Linda,Mitchell,Southwest,US,North America,NaN,NaN,NaN
6,281,Shu,Ito,Southwest,US,North America,NaN,NaN,NaN
7,277,Jillian,Carson,Central,US,North America,NaN,NaN,NaN
8,275,Michael,Blythe,Northeast,US,North America,NaN,NaN,NaN
9,279,Tsvi,Reiter,Southeast,US,North America,NaN,NaN,NaN
10,286,Lynn,Tsoflias,Australia,AU,Pacific,NaN,NaN,NaN
11,290,Ranjit,Varkey Chudukatil,France,FR,Europe,Amy,Alberts,European Sales Manager
12,289,Jae,Pak,United Kingdom,GB,Europe,Amy,Alberts,European Sales Manager
13,288,Rachel,Valdez,Germany,DE,Europe,Amy,Alberts,European Sales Manager

### 3a. Give a list of all customers, and the average price of items ordered for each one
Show columns: CustomerID, FirstName, LastName, City, StateName, AvgPrice

SELECT c.CustomerID
	,c.FirstName
	,c.LastName
	,c.City
	,c.StateName
	,AVG(io.Price) AS AvgPrice
FROM dbo.Customers AS c
LEFT OUTER JOIN dbo.ItemsOrdered AS io
	ON c.CustomerID = io.CustomerID
GROUP BY c.CustomerID
	,c.FirstName
	,c.LastName
	,c.City
	,c.StateName
;

In [34]:
corders = pd.merge(Customers[['CustomerID', 'FirstName', 'LastName', 'City', 'StateName']], Orders[['CustomerID', 'Price']], on='CustomerID', how='left')
corders.groupby(['CustomerID', 'FirstName', 'LastName', 'City', 'StateName']).Price.mean().reset_index()

    CustomerID FirstName  LastName          City       StateName       Price
0        10101      John      Gray        Lynden      Washington   53.458333
1        10298     Leroy     Brown       Pinetop         Arizona   23.776000
2        10299     Elroy    Keller    Snoqualmie      Washington  644.000000
3        10315      Lisa     Jones       Oshkosh       Wisconsin    8.000000
4        10325    Ginger   Schultz     Pocatello           Idaho         NaN
5        10329     Kelly   Mendoza        Kailua          Hawaii         NaN
6        10330     Shawn    Dalton  Cannon Beach          Oregon   24.250000
7        10338   Michael    Howell     Tillamook          Oregon         NaN
8        10339   Anthony   Sanchez       Winslow         Arizona    4.500000
9        10408     Elroy   Cleaver         Globe         Arizona         NaN
10       10410  Mary Ann    Howell    Charleston  South Carolina  140.860000
11       10413    Donald    Davids     Gila Bend         Arizona   32.000000
12       10419     Linda  Sakahara       Nogales         Arizona         NaN
13       10429     Sarah    Graham    Greensboro  North Carolina         NaN
14       10438     Kevin     Smith       Durango        Colorado   31.746667
15       10439    Conrad     Giles     Telluride        Colorado   56.750000
16       10449   Isabela     Moore          Yuma         Arizona  155.131667

### 3b. For those customers who have never ordered anything, put 0 as the average price

SELECT c.CustomerID
	,c.FirstName
	,c.LastName
	,c.City
	,c.StateName
	,ISNULL(AVG(io.Price),0) AS AvgPrice
FROM dbo.Customers AS c
LEFT OUTER JOIN dbo.ItemsOrdered AS io
	ON c.CustomerID = io.CustomerID
GROUP BY c.CustomerID
	,c.FirstName
	,c.LastName
	,c.City
	,c.StateName
;

In [35]:
corders = pd.merge(Customers[['CustomerID', 'FirstName', 'LastName', 'City', 'StateName']], Orders[['CustomerID', 'Price']], on='CustomerID', how='left')
corders.groupby(['CustomerID', 'FirstName', 'LastName', 'City', 'StateName']).Price.mean().reset_index().fillna(0)

    CustomerID FirstName  LastName          City       StateName       Price
0        10101      John      Gray        Lynden      Washington   53.458333
1        10298     Leroy     Brown       Pinetop         Arizona   23.776000
2        10299     Elroy    Keller    Snoqualmie      Washington  644.000000
3        10315      Lisa     Jones       Oshkosh       Wisconsin    8.000000
4        10325    Ginger   Schultz     Pocatello           Idaho    0.000000
5        10329     Kelly   Mendoza        Kailua          Hawaii    0.000000
6        10330     Shawn    Dalton  Cannon Beach          Oregon   24.250000
7        10338   Michael    Howell     Tillamook          Oregon    0.000000
8        10339   Anthony   Sanchez       Winslow         Arizona    4.500000
9        10408     Elroy   Cleaver         Globe         Arizona    0.000000
10       10410  Mary Ann    Howell    Charleston  South Carolina  140.860000
11       10413    Donald    Davids     Gila Bend         Arizona   32.000000
12       10419     Linda  Sakahara       Nogales         Arizona    0.000000
13       10429     Sarah    Graham    Greensboro  North Carolina    0.000000
14       10438     Kevin     Smith       Durango        Colorado   31.746667
15       10439    Conrad     Giles     Telluride        Colorado   56.750000
16       10449   Isabela     Moore          Yuma         Arizona  155.131667

### 3c. Show the same results, but instead of average price per customer, tell me the average "Total Price" per customer
Make sure you change the alias of the AvgPrice column accordingly

SELECT c.CustomerID
	,c.FirstName
	,c.LastName
	,c.City
	,c.StateName
	,ISNULL(AVG(io.Price*io.Quantity),0) AS AvgTotalPrice
FROM dbo.Customers AS c
LEFT OUTER JOIN dbo.ItemsOrdered AS io
	ON c.CustomerID = io.CustomerID
GROUP BY c.CustomerID
	,c.FirstName
	,c.LastName
	,c.City
	,c.StateName
    ;

In [37]:
corders = pd.merge(Customers[['CustomerID', 'FirstName', 'LastName', 'City', 'StateName']], Orders[['CustomerID', 'Price','Quantity']], on='CustomerID', how='left')
corders['Total']=corders.Price*corders.Quantity
corders.groupby(['CustomerID', 'FirstName', 'LastName', 'City', 'StateName']).Total.mean().reset_index().fillna(0)

    CustomerID FirstName  LastName          City       StateName       Total
0        10101      John      Gray        Lynden      Washington  135.658333
1        10298     Leroy     Brown       Pinetop         Arizona   29.576000
2        10299     Elroy    Keller    Snoqualmie      Washington  644.000000
3        10315      Lisa     Jones       Oshkosh       Wisconsin    8.000000
4        10325    Ginger   Schultz     Pocatello           Idaho    0.000000
5        10329     Kelly   Mendoza        Kailua          Hawaii    0.000000
6        10330     Shawn    Dalton  Cannon Beach          Oregon   52.250000
7        10338   Michael    Howell     Tillamook          Oregon    0.000000
8        10339   Anthony   Sanchez       Winslow         Arizona    4.500000
9        10408     Elroy   Cleaver         Globe         Arizona    0.000000
10       10410  Mary Ann    Howell    Charleston  South Carolina  140.860000
11       10413    Donald    Davids     Gila Bend         Arizona  128.000000
12       10419     Linda  Sakahara       Nogales         Arizona    0.000000
13       10429     Sarah    Graham    Greensboro  North Carolina    0.000000
14       10438     Kevin     Smith       Durango        Colorado   31.746667
15       10439    Conrad     Giles     Telluride        Colorado   69.500000
16       10449   Isabela     Moore          Yuma         Arizona  161.798333

### 4a. Someone has requested a report of all employees and their managers (if they don't have a manager, still display them)
Show columns: EmployeeID, EmployeeFullName, EmployeeTitle, BossFullName, BossTitle

SELECT emp.EmployeeID
	,emp.Firstname + ' ' + emp.LastName AS EmployeeFullNameAlt
	,CONCAT(emp.FirstName,' ',emp.LastName) AS EmployeeFullName
	,emp.JobTitle AS EmployeeJobTitle
	,CONCAT(mgr.FirstName,' ',mgr.LastName) AS BossFullName
	,mgr.JobTitle AS BossJobTitle
FROM dbo.Employees AS emp
LEFT OUTER JOIN dbo.Employees AS mgr
	ON emp.ManagerID = mgr.EmployeeID
;

In [44]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
emps_mngr = pd.merge(Employees, Employees, right_on='ManagerID', left_on='EmployeeID', how='left')
emps_mngr[['EmployeeID_x', 'FullName_x', 'JobTitle_x', 'FullName_y', 'JobTitle_y']].rename(columns={'EmployeeID_x': 'EmployeeID','FullName_x': 'EmployeeFullName', 'JobTitle_x':'EmployeeJobTitle', 'FullName_y':'BossFullName', 'JobTitle_y':'BossJobTitle'})

,EmployeeID,EmployeeFullName,EmployeeJobTitle,BossFullName,BossJobTitle
0,259.0,Ben Miller,Buyer,NaN,NaN
1,278.0,Garrett Vargas,Sales Representative,NaN,NaN
2,204.0,Gabe Mares,Production Technician - WC40,NaN,NaN
3,78.0,Reuben D'sa,Production Supervisor - WC40,NaN,NaN
4,255.0,Gordon Hee,Buyer,NaN,NaN
5,66.0,Karan Khanna,Production Technician - WC60,NaN,NaN
6,270.0,François Ajenstat,Database Administrator,NaN,NaN
7,22.0,Sariya Harnpadoungsataya,Marketing Specialist,NaN,NaN
8,161.0,Kirk Koenigsbauer,Production Technician - WC45,NaN,NaN
9,124.0,Kim Ralls,Stocker,NaN,NaN
10,10.0,Michael Raheem,Research and Development Manager,NaN,NaN
11,248.0,Mike Seamans,Accountant,NaN,NaN
12,175.0,Reed Koch,Production Technician - WC30,NaN,NaN
13,155.0,Fadi Fakhouri,Production Technician - WC20,NaN,NaN
14,144.0,Paul Singh,Production Technician - WC20,NaN,NaN
15,192.0,Brenda Diaz,Production Supervisor - WC40,NaN,NaN
16,166.0,Jack Richins,Production Supervisor - WC30,NaN,NaN
17,112.0,John Evans,Production Technician - WC50,NaN,NaN
18,203.0,Ken Myer,Production Technician - WC40,NaN,NaN
19,245.0,Barbara Moreland,Accountant,NaN,NaN
20,257.0,Eric Kurjan,Buyer,NaN,NaN
21,244.0,Bryan Walton,Accounts Receivable Specialist,NaN,NaN
22,69.0,Steve Masters,Production Technician - WC60,NaN,NaN
23,210.0,Belinda Newman,Production Technician - WC45,NaN,NaN
24,163.0,Alex Nayberg,Production Technician - WC45,NaN,NaN
25,118.0,Don Hall,Production Technician - WC50,NaN,NaN
26,176.0,David Lawrence,Production Technician - WC30,NaN,NaN
27,147.0,Sandra Reátegui Alayo,Production Technician - WC30,NaN,NaN
28,138.0,Samantha Smith,Production Technician - WC20,NaN,NaN
29,95.0,Jim Scardelis,Production Technician - WC50,NaN,NaN
...,...,...,...,...,...
538,25.0,James Hamilton,Vice President of Production,Michael Sullivan,Senior Design Engineer
539,25.0,James Hamilton,Vice President of Production,William Vong,Scheduling Assistant
540,25.0,James Hamilton,Vice President of Production,Dylan Miller,Research and Development Manager
541,25.0,James Hamilton,Vice President of Production,Sharon Salavaria,Design Engineer
542,25.0,James Hamilton,Vice President of Production,Gigi Matthew,Research and Development Engineer
543,25.0,James Hamilton,Vice President of Production,Sean Alexander,Quality Assurance Technician
544,25.0,James Hamilton,Vice President of Production,Sairaj Uddin,Scheduling Assistant
545,25.0,James Hamilton,Vice President of Production,Mark Harrington,Quality Assurance Technician
546,25.0,James Hamilton,Vice President of Production,A. Scott Wright,Master Scheduler
547,25.0,James Hamilton,Vice President of Production,Sean Chai,Document Control Assistant
548,25.0,James Hamilton,Vice President of Production,Gail Erickson,Design Engineer
549,25.0,James Hamilton,Vice President of Production,Chris Norred,Control Specialist
550,108.0,Jinghao Liu,Production Supervisor - WC50,NaN,NaN
551,239.0,Mindy Martin,Benefits Specialist,NaN,NaN
552,27.0,Jo Brown,Production Supervisor - WC60,NaN,NaN
553,186.0,Shane Kim,Production Supervisor - WC45,NaN,NaN
554,38.0,Kim Abercrombie,Production Technician - WC60,NaN,NaN
555,154.0,Raymond Sam,Production Technician - WC20,NaN,NaN
556,114.0,Mindaugas Krapauskas,Production Technician - WC50,NaN,NaN
557,123.0,Vamsi Kuppa,Shipping and Receiving Clerk,NaN,NaN
558,29.0,Mark McArthur,Production Technician - WC60,NaN,NaN
559,101.0,Houman Pournasseh,Production Technician - WC50,NaN,NaN
560,221.0,Chris Norred,Control Specialist,NaN,NaN
561,18.0,John Wood,Marketing Specialist,NaN,NaN
562,46.0,Eugene Kogan,Production Technician - WC60,NaN,NaN
563,202.0,Tawana Nusbaum,Production Technician - WC40,NaN,NaN
564,289.0,Jae Pak,Sales Representative,NaN,NaN
565,288.0,Rachel Valdez,Sales Representative,NaN,NaN
566,999.0,Chadwick Smith,BI Professor,NaN,NaN
567,NaN,NaN,NaN,Ken Sánchez,Chief Executive Officer

### 4b. Another request from someone else has just come in, asking for a list of managers and their employees
Columns: BossFullName, BossTitle, EmployeeFullName, EmployeeTitle
Sort by BossTitle then EmployeeTitle

SELECT CONCAT(mgr.FirstName,' ',mgr.LastName) AS BossFullName
	,mgr.JobTitle AS BossJobTitle
	,CONCAT(emp.FirstName,' ',emp.LastName) AS EmployeeFullName
	,emp.JobTitle AS EmployeeJobTitle
FROM dbo.Employees AS mgr
INNER JOIN dbo.Employees AS emp
	ON emp.ManagerID = mgr.EmployeeID
ORDER BY BossFullName
;

In [48]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
emps_mngr = pd.merge(Employees, Employees, right_on='ManagerID', left_on='EmployeeID', how='inner')
emps_mngr[['FullName_x', 'JobTitle_x', 'FullName_y', 'JobTitle_y']].rename(columns={'FullName_x': 'BossFullName', 'JobTitle_x':'BossJobTitle', 'FullName_y':'EmployeeFullName', 'JobTitle_y':'EmployeeJobTitle'})

,BossFullName,BossJobTitle,EmployeeFullName,EmployeeJobTitle
0,Jean Trenary,Information Services Manager,François Ajenstat,Database Administrator
1,Jean Trenary,Information Services Manager,Dan Bacon,Application Specialist
2,Jean Trenary,Information Services Manager,Ramesh Meyyappan,Application Specialist
3,Jean Trenary,Information Services Manager,Karen Berg,Application Specialist
4,Jean Trenary,Information Services Manager,Dan Wilson,Database Administrator
5,Jean Trenary,Information Services Manager,Janaina Bueno,Application Specialist
6,Jean Trenary,Information Services Manager,Ashvini Sharma,Network Administrator
7,Jean Trenary,Information Services Manager,Stephanie Conroy,Network Manager
8,Jean Trenary,Information Services Manager,Peter Connelly,Network Administrator
9,Stephen Jiang,North American Sales Manager,Garrett Vargas,Sales Representative
10,Stephen Jiang,North American Sales Manager,David Campbell,Sales Representative
11,Stephen Jiang,North American Sales Manager,Linda Mitchell,Sales Representative
12,Stephen Jiang,North American Sales Manager,Tete Mensa-Annan,Sales Representative
13,Stephen Jiang,North American Sales Manager,Shu Ito,Sales Representative
14,Stephen Jiang,North American Sales Manager,Pamela Ansman-Wolfe,Sales Representative
15,Stephen Jiang,North American Sales Manager,Jillian Carson,Sales Representative
16,Stephen Jiang,North American Sales Manager,Michael Blythe,Sales Representative
17,Stephen Jiang,North American Sales Manager,Tsvi Reiter,Sales Representative
18,Stephen Jiang,North American Sales Manager,José Saraiva,Sales Representative
19,Gary Altman,Facilities Manager,Jo Berry,Janitor
20,Gary Altman,Facilities Manager,Stuart Macrae,Janitor
21,Gary Altman,Facilities Manager,Pat Coleman,Janitor
22,Gary Altman,Facilities Manager,Lori Penor,Janitor
23,Gary Altman,Facilities Manager,Christian Kleinerman,Maintenance Supervisor
24,Gary Altman,Facilities Manager,Magnus Hedlund,Facilities Administrative Assistant
25,Peter Krebs,Production Control Manager,Gabe Mares,Production Technician - WC40
26,Peter Krebs,Production Control Manager,Reuben D'sa,Production Supervisor - WC40
27,Peter Krebs,Production Control Manager,Karan Khanna,Production Technician - WC60
28,Peter Krebs,Production Control Manager,Kirk Koenigsbauer,Production Technician - WC45
29,Peter Krebs,Production Control Manager,Reed Koch,Production Technician - WC30
...,...,...,...,...
260,James Hamilton,Vice President of Production,Michael Raheem,Research and Development Manager
261,James Hamilton,Vice President of Production,Andreas Berglund,Quality Assurance Technician
262,James Hamilton,Vice President of Production,Thierry D'Hers,Tool Designer
263,James Hamilton,Vice President of Production,Roberto Tamburello,Engineering Manager
264,James Hamilton,Vice President of Production,Brian LaMee,Scheduling Assistant
265,James Hamilton,Vice President of Production,Alan Brewer,Scheduling Assistant
266,James Hamilton,Vice President of Production,Peng Wu,Quality Assurance Supervisor
267,James Hamilton,Vice President of Production,Karen Berge,Document Control Assistant
268,James Hamilton,Vice President of Production,Tengiz Kharatishvili,Control Specialist
269,James Hamilton,Vice President of Production,Janice Galvin,Tool Designer
270,James Hamilton,Vice President of Production,Zainal Arifin,Document Control Manager
271,James Hamilton,Vice President of Production,Peter Krebs,Production Control Manager
272,James Hamilton,Vice President of Production,Sootha Charncherngkha,Quality Assurance Technician
273,James Hamilton,Vice President of Production,Diane Margheim,Research and Development Engineer
274,James Hamilton,Vice President of Production,Hazem Abolrous,Quality Assurance Manager
275,James Hamilton,Vice President of Production,Ovidiu Cracium,Senior Tool Designer
276,James Hamilton,Vice President of Production,Jossef Goldberg,Design Engineer
277,James Hamilton,Vice President of Production,Rob Walters,Senior Tool Designer
278,James Hamilton,Vice President of Production,Michael Sullivan,Senior Design Engineer
279,James Hamilton,Vice President of Production,William Vong,Scheduling Assistant
280,James Hamilton,Vice President of Production,Dylan Miller,Research and Development Manager
281,James Hamilton,Vice President of Production,Sharon Salavaria,Design Engineer
282,James Hamilton,Vice President of Production,Gigi Matthew,Research and Development Engineer
283,James Hamilton,Vice President of Production,Sean Alexander,Quality Assurance Technician
284,James Hamilton,Vice President of Production,Sairaj Uddin,Scheduling Assistant
285,James Hamilton,Vice President of Production,Mark Harrington,Quality Assurance Technician
286,James Hamilton,Vice President of Production,A. Scott Wright,Master Scheduler
287,James Hamilton,Vice President of Production,Sean Chai,Document Control Assistant
288,James Hamilton,Vice President of Production,Gail Erickson,Design Engineer
289,James Hamilton,Vice President of Production,Chris Norred,Control Specialist

### 4c. Provide a list of managers in the company

SELECT DISTINCT CONCAT(mgr.FirstName,' ',mgr.LastName) AS BossFullName 
	,mgr.JobTitle AS BossJobTitle
FROM dbo.Employees AS mgr
INNER JOIN dbo.Employees AS emp	
	ON mgr.EmployeeID = emp.ManagerID
ORDER BY BossFullName
;

In [59]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
emps_mngr = pd.merge(Employees, Employees, right_on='ManagerID', left_on='EmployeeID', how='inner')
emps_mngr2 = emps_mngr[['FullName_x', 'JobTitle_x']].rename(columns={'FullName_x': 'BossFullName', 'JobTitle_x':'BossJobTitle'})
emps_mngr2.BossFullName.unique()

array(['Jean Trenary', 'Stephen Jiang', 'Gary Altman', 'Peter Krebs',
       'David Bradley', 'Paula Barreto  de Mattos', 'Ken Sánchez',
       'Wendy Kahn', 'Amy Alberts', 'Sheela Word', 'Laura Norman',
       'Syed Abbas', 'Brian Welcker', 'James Hamilton'], dtype=object)

### 5a. Show me only the salespeople who live in the U.S. and their hire dates
Columns: FullName, HireDate

SELECT e.FirstName + ' ' + e.LastName AS FullName
	,e.HireDate
FROM dbo.Employees e
INNER JOIN dbo.SalesTerritory s
	ON e.TerritoryID = s.TerritoryID
WHERE e.CountryName = 'United States'

In [61]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
us_sales = pd.merge(Employees[Employees.CountryName=='United States'], Territory, on='TerritoryID', how='inner')
us_sales[['FullName', 'HireDate']]

              FullName   HireDate
0       David Campbell 2005-07-01
1     Tete Mensa-Annan 2006-11-01
2  Pamela Ansman-Wolfe 2005-10-01
3       Linda Mitchell 2005-07-01
4              Shu Ito 2005-10-01
5       Jillian Carson 2005-07-01
6       Michael Blythe 2005-07-01
7          Tsvi Reiter 2005-07-01

### 5b. Show me only the salespeople who sell to U.S. customers and their hire dates, plus how much revenue their territory has generated this year
Columns: FullName, HireDate, TerritoryName, Revenue

SELECT e.FirstName + ' ' + e.LastName AS FullName
	,e.HireDate
	,s.Name AS TerritoryName
	,s.SalesYTD AS Revenue
FROM dbo.Employees e
INNER JOIN dbo.SalesTerritory s
	ON e.TerritoryID = s.TerritoryID
WHERE s.CountryCode = 'US'

In [64]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
us_sales = pd.merge(Employees, Territory[Territory.CountryCode=='US'], on='TerritoryID', how='inner')
us_sales[['FullName', 'HireDate', 'Name', 'SalesYTD']]

              FullName   HireDate       Name     SalesYTD
0       David Campbell 2005-07-01  Northwest   7887186.79
1     Tete Mensa-Annan 2006-11-01  Northwest   7887186.79
2  Pamela Ansman-Wolfe 2005-10-01  Northwest   7887186.79
3       Linda Mitchell 2005-07-01  Southwest  10510853.87
4              Shu Ito 2005-10-01  Southwest  10510853.87
5       Jillian Carson 2005-07-01    Central   3072175.12
6       Michael Blythe 2005-07-01  Northeast   2402176.85
7          Tsvi Reiter 2005-07-01  Southeast   2538667.25

### 6. I need a list of all the salespeople and their territories, but also show the territories that don't have any salespeople assigned.
Columns: EmployeeID, FirstName, LastName, TerritoryName, TerritoryCountry, TerritoryRegion

SELECT e.EmployeeID
	,e.FirstName
	,e.LastName
	,s.Name AS TerritoryName
	,s.CountryCode AS TerritoryCountry
	,s.Region AS TerritoryRegion
FROM dbo.SalesTerritory AS s
LEFT OUTER JOIN dbo.Employees AS e
	ON s.TerritoryID = e.TerritoryID
;

In [69]:
pd.merge(Territory, Employees, on='TerritoryID', how='left')[['EmployeeID','FirstName','LastName','Name','CountryCode', 'Region']]

Object `merge` not found.

,EmployeeID,FirstName,LastName,Name,CountryCode,Region
0,283.0,David,Campbell,Northwest,US,North America
1,284.0,Tete,Mensa-Annan,Northwest,US,North America
2,280.0,Pamela,Ansman-Wolfe,Northwest,US,North America
3,275.0,Michael,Blythe,Northeast,US,North America
4,277.0,Jillian,Carson,Central,US,North America
5,276.0,Linda,Mitchell,Southwest,US,North America
6,281.0,Shu,Ito,Southwest,US,North America
7,279.0,Tsvi,Reiter,Southeast,US,North America
8,278.0,Garrett,Vargas,Canada,CA,North America
9,282.0,José,Saraiva,Canada,CA,North America
10,290.0,Ranjit,Varkey Chudukatil,France,FR,Europe
11,288.0,Rachel,Valdez,Germany,DE,Europe
12,286.0,Lynn,Tsoflias,Australia,AU,Pacific
13,289.0,Jae,Pak,United Kingdom,GB,Europe
14,NaN,NaN,NaN,Brazil,BR,South America
15,NaN,NaN,NaN,Mexico,MX,North America
16,259.0,Ben,Miller,NaN,NaN,NaN
17,204.0,Gabe,Mares,NaN,NaN,NaN
18,78.0,Reuben,D'sa,NaN,NaN,NaN
19,255.0,Gordon,Hee,NaN,NaN,NaN
20,66.0,Karan,Khanna,NaN,NaN,NaN
21,270.0,François,Ajenstat,NaN,NaN,NaN
22,22.0,Sariya,Harnpadoungsataya,NaN,NaN,NaN
23,161.0,Kirk,Koenigsbauer,NaN,NaN,NaN
24,124.0,Kim,Ralls,NaN,NaN,NaN
25,10.0,Michael,Raheem,NaN,NaN,NaN
26,248.0,Mike,Seamans,NaN,NaN,NaN
27,175.0,Reed,Koch,NaN,NaN,NaN
28,155.0,Fadi,Fakhouri,NaN,NaN,NaN
29,144.0,Paul,Singh,NaN,NaN,NaN
...,...,...,...,...,...,...
263,209.0,Kathie,Flood,NaN,NaN,NaN
264,50.0,Sidney,Higa,NaN,NaN,NaN
265,222.0,A. Scott,Wright,NaN,NaN,NaN
266,70.0,David,Ortiz,NaN,NaN,NaN
267,219.0,Sean,Chai,NaN,NaN,NaN
268,148.0,Jason,Watters,NaN,NaN,NaN
269,140.0,Prasanna,Samarawickrama,NaN,NaN,NaN
270,5.0,Gail,Erickson,NaN,NaN,NaN
271,252.0,Arvind,Rao,NaN,NaN,NaN
272,266.0,Peter,Connelly,NaN,NaN,NaN
273,233.0,Magnus,Hedlund,NaN,NaN,NaN
274,83.0,Patrick,Cook,NaN,NaN,NaN
275,251.0,Mikael,Sandberg,NaN,NaN,NaN
276,241.0,David,Liu,NaN,NaN,NaN
277,25.0,James,Hamilton,NaN,NaN,NaN
278,108.0,Jinghao,Liu,NaN,NaN,NaN
279,239.0,Mindy,Martin,NaN,NaN,NaN
280,27.0,Jo,Brown,NaN,NaN,NaN
281,186.0,Shane,Kim,NaN,NaN,NaN
282,38.0,Kim,Abercrombie,NaN,NaN,NaN
283,154.0,Raymond,Sam,NaN,NaN,NaN
284,114.0,Mindaugas,Krapauskas,NaN,NaN,NaN
285,123.0,Vamsi,Kuppa,NaN,NaN,NaN
286,29.0,Mark,McArthur,NaN,NaN,NaN
287,101.0,Houman,Pournasseh,NaN,NaN,NaN
288,221.0,Chris,Norred,NaN,NaN,NaN
289,18.0,John,Wood,NaN,NaN,NaN
290,46.0,Eugene,Kogan,NaN,NaN,NaN
291,202.0,Tawana,Nusbaum,NaN,NaN,NaN
292,999.0,Chadwick,Smith,NaN,NaN,NaN

### 7. Give me a list of all the customers, and if they ordered anything less than $30 show me those orders too

SELECT c.CustomerID
	,c.FirstName
	,c.LastName
	,io.Item
	,io.Price
FROM dbo.Customers AS c
LEFT OUTER JOIN dbo.ItemsOrdered AS io
	ON c.CustomerID = io.CustomerID
	AND io.Price < 30
    ;

In [74]:
pd.merge(Customers[['CustomerID', 'FirstName','LastName']], Orders[Orders.Price<30][['CustomerID', 'Item', 'Price']], how='left', on='CustomerID')

    CustomerID FirstName  LastName          Item  Price
0        10101      John      Gray     Rain Coat  18.30
1        10101      John      Gray    Hoola Hoop  14.75
2        10101      John      Gray       Lantern  16.00
3        10298     Leroy     Brown       Lantern  29.00
4        10298     Leroy     Brown        Helmet  22.00
5        10298     Leroy     Brown  Pocket Knife  22.38
6        10298     Leroy     Brown     Ear Muffs  12.50
7        10299     Elroy    Keller           NaN    NaN
8        10315      Lisa     Jones       Compass   8.00
9        10325    Ginger   Schultz           NaN    NaN
10       10329     Kelly   Mendoza           NaN    NaN
11       10330     Shawn    Dalton    Pogo stick  28.00
12       10330     Shawn    Dalton    Flashlight  28.00
13       10330     Shawn    Dalton        Shovel  16.75
14       10338   Michael    Howell           NaN    NaN
15       10339   Anthony   Sanchez      Umbrella   4.50
16       10408     Elroy   Cleaver           NaN    NaN
17       10410  Mary Ann    Howell           NaN    NaN
18       10413    Donald    Davids           NaN    NaN
19       10419     Linda  Sakahara           NaN    NaN
20       10429     Sarah    Graham           NaN    NaN
21       10438     Kevin     Smith      Umbrella   6.75
22       10438     Kevin     Smith        Pillow   8.50
23       10439    Conrad     Giles     Ski Poles  25.50
24       10449   Isabela     Moore    Flashlight   4.50

### 9a. We need a list of each employee's boss's boss (i.e., 2 levels up)
Columns: EmployeeID, EmployeeFullName, EmployeeTitle, BossBossFullName, BossBossTitle<br/>
Sort by BossBossTitle and then EmployeeTitle

SELECT emp.EmployeeID
		,emp.FirstName + ' ' + emp.LastName AS EmployeeFullName
		,emp.JobTitle AS EmployeeTitle
		,mgr2.FirstName + ' ' + mgr2.LastName AS BossBossFullName
		,mgr2.JobTitle AS BossBossTitle
FROM dbo.Employees emp
INNER JOIN dbo.Employees mgr
	ON emp.ManagerID = mgr.EmployeeID
INNER JOIN dbo.Employees mgr2
	ON mgr.ManagerID = mgr2.EmployeeID
ORDER BY BossBossTitle, EmployeeTitle
;

In [83]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
boss_boss = pd.merge(pd.merge(Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], left_on='ManagerID', right_on='EmployeeID', how='inner'), Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], left_on='ManagerID_y', right_on='EmployeeID', how='inner')
boss_boss[['EmployeeID_x','FullName_x', 'JobTitle_x', 'FullName', 'JobTitle']].rename(columns=({'FullName_x':'EmployeeFullName', 'JobTitle_x':'EmployeeTitle', 'FullName':'BossBossFullName', 'JobTitle':'BossBossTitle'}))

,EmployeeID_x,EmployeeFullName,EmployeeTitle,BossBossFullName,BossBossTitle
0,259,Ben Miller,Buyer,Wendy Kahn,Finance Manager
1,255,Gordon Hee,Buyer,Wendy Kahn,Finance Manager
2,124,Kim Ralls,Stocker,Wendy Kahn,Finance Manager
3,257,Eric Kurjan,Buyer,Wendy Kahn,Finance Manager
4,126,Jimmy Bischoff,Stocker,Wendy Kahn,Finance Manager
5,122,Susan Eaton,Stocker,Wendy Kahn,Finance Manager
6,258,Erin Hagens,Buyer,Wendy Kahn,Finance Manager
7,125,Matthias Berndt,Shipping and Receiving Clerk,Wendy Kahn,Finance Manager
8,121,Pilar Ackerman,Shipping and Receiving Supervisor,Wendy Kahn,Finance Manager
9,256,Frank Pellow,Buyer,Wendy Kahn,Finance Manager
10,253,Linda Meisner,Buyer,Wendy Kahn,Finance Manager
11,261,Reinout Hillmann,Purchasing Assistant,Wendy Kahn,Finance Manager
12,260,Annette Hill,Purchasing Assistant,Wendy Kahn,Finance Manager
13,254,Fukiko Ogisu,Buyer,Wendy Kahn,Finance Manager
14,252,Arvind Rao,Buyer,Wendy Kahn,Finance Manager
15,251,Mikael Sandberg,Buyer,Wendy Kahn,Finance Manager
16,123,Vamsi Kuppa,Shipping and Receiving Clerk,Wendy Kahn,Finance Manager
17,278,Garrett Vargas,Sales Representative,Brian Welcker,Vice President of Sales
18,283,David Campbell,Sales Representative,Brian Welcker,Vice President of Sales
19,276,Linda Mitchell,Sales Representative,Brian Welcker,Vice President of Sales
20,284,Tete Mensa-Annan,Sales Representative,Brian Welcker,Vice President of Sales
21,281,Shu Ito,Sales Representative,Brian Welcker,Vice President of Sales
22,280,Pamela Ansman-Wolfe,Sales Representative,Brian Welcker,Vice President of Sales
23,277,Jillian Carson,Sales Representative,Brian Welcker,Vice President of Sales
24,275,Michael Blythe,Sales Representative,Brian Welcker,Vice President of Sales
25,279,Tsvi Reiter,Sales Representative,Brian Welcker,Vice President of Sales
26,282,José Saraiva,Sales Representative,Brian Welcker,Vice President of Sales
27,286,Lynn Tsoflias,Sales Representative,Brian Welcker,Vice President of Sales
28,290,Ranjit Varkey Chudukatil,Sales Representative,Brian Welcker,Vice President of Sales
29,289,Jae Pak,Sales Representative,Brian Welcker,Vice President of Sales
...,...,...,...,...,...
252,4,Rob Walters,Senior Tool Designer,Ken Sánchez,Chief Executive Officer
253,14,Michael Sullivan,Senior Design Engineer,Ken Sánchez,Chief Executive Officer
254,224,William Vong,Scheduling Assistant,Ken Sánchez,Chief Executive Officer
255,7,Dylan Miller,Research and Development Manager,Ken Sánchez,Chief Executive Officer
256,15,Sharon Salavaria,Design Engineer,Ken Sánchez,Chief Executive Officer
257,9,Gigi Matthew,Research and Development Engineer,Ken Sánchez,Chief Executive Officer
258,216,Sean Alexander,Quality Assurance Technician,Ken Sánchez,Chief Executive Officer
259,223,Sairaj Uddin,Scheduling Assistant,Ken Sánchez,Chief Executive Officer
260,215,Mark Harrington,Quality Assurance Technician,Ken Sánchez,Chief Executive Officer
261,222,A. Scott Wright,Master Scheduler,Ken Sánchez,Chief Executive Officer
262,219,Sean Chai,Document Control Assistant,Ken Sánchez,Chief Executive Officer
263,5,Gail Erickson,Design Engineer,Ken Sánchez,Chief Executive Officer
264,221,Chris Norred,Control Specialist,Ken Sánchez,Chief Executive Officer
265,231,Jo Berry,Janitor,Ken Sánchez,Chief Executive Officer
266,230,Stuart Macrae,Janitor,Ken Sánchez,Chief Executive Officer
267,232,Pat Coleman,Janitor,Ken Sánchez,Chief Executive Officer
268,229,Lori Penor,Janitor,Ken Sánchez,Chief Executive Officer
269,228,Christian Kleinerman,Maintenance Supervisor,Ken Sánchez,Chief Executive Officer
270,233,Magnus Hedlund,Facilities Administrative Assistant,Ken Sánchez,Chief Executive Officer
271,236,Grant Culbertson,Human Resources Administrative Assistant,Ken Sánchez,Chief Executive Officer
272,238,Vidur Luthra,Recruiter,Ken Sánchez,Chief Executive Officer
273,240,Willis Johnson,Recruiter,Ken Sánchez,Chief Executive Officer
274,237,Hao Chen,Human Resources Administrative Assistant,Ken Sánchez,Chief Executive Officer
275,239,Mindy Martin,Benefits Specialist,Ken Sánchez,Chief Executive Officer
276,263,Jean Trenary,Information Services Manager,Ken Sánchez,Chief Executive Officer
277,249,Wendy Kahn,Finance Manager,Ken Sánchez,Chief Executive Officer
278,262,David Barber,Assistant to the Chief Financial Officer,Ken Sánchez,Chief Executive Officer
279,274,Stephen Jiang,North American Sales Manager,Ken Sánchez,Chief Executive Officer
280,287,Amy Alberts,European Sales Manager,Ken Sánchez,Chief Executive Officer
281,285,Syed Abbas,Pacific Sales Manager,Ken Sánchez,Chief Executive Officer

### 9b. Same as above, except show all employees in the company

SELECT emp.EmployeeID
	,emp.FirstName + ' ' + emp.LastName AS EmployeeFullName
	,emp.JobTitle AS EmployeeTitle
	,mgr2.FirstName + ' ' + mgr2.LastName AS BossBossFullName
	,mgr2.JobTitle AS BossBossTitle
FROM dbo.Employees emp
LEFT OUTER JOIN dbo.Employees mgr
	ON emp.ManagerID = mgr.EmployeeID
LEFT OUTER JOIN dbo.Employees mgr2
	ON mgr.ManagerID = mgr2.EmployeeID
ORDER BY BossBossTitle, EmployeeTitle
;

In [86]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
boss_boss = pd.merge(pd.merge(Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], left_on='ManagerID', right_on='EmployeeID', how='left'), Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], left_on='ManagerID_y', right_on='EmployeeID', how='left')
boss_boss[['EmployeeID_x','FullName_x', 'JobTitle_x', 'FullName', 'JobTitle']].rename(columns=({'FullName_x':'EmployeeFullName', 'JobTitle_x':'EmployeeTitle', 'FullName':'BossBossFullName', 'JobTitle':'BossBossTitle'}))

,EmployeeID_x,EmployeeFullName,EmployeeTitle,BossBossFullName,BossBossTitle
0,259,Ben Miller,Buyer,Wendy Kahn,Finance Manager
1,278,Garrett Vargas,Sales Representative,Brian Welcker,Vice President of Sales
2,204,Gabe Mares,Production Technician - WC40,James Hamilton,Vice President of Production
3,78,Reuben D'sa,Production Supervisor - WC40,James Hamilton,Vice President of Production
4,255,Gordon Hee,Buyer,Wendy Kahn,Finance Manager
5,66,Karan Khanna,Production Technician - WC60,James Hamilton,Vice President of Production
6,270,François Ajenstat,Database Administrator,Laura Norman,Chief Financial Officer
7,22,Sariya Harnpadoungsataya,Marketing Specialist,Ken Sánchez,Chief Executive Officer
8,161,Kirk Koenigsbauer,Production Technician - WC45,James Hamilton,Vice President of Production
9,124,Kim Ralls,Stocker,Wendy Kahn,Finance Manager
10,10,Michael Raheem,Research and Development Manager,Ken Sánchez,Chief Executive Officer
11,248,Mike Seamans,Accountant,Laura Norman,Chief Financial Officer
12,175,Reed Koch,Production Technician - WC30,James Hamilton,Vice President of Production
13,155,Fadi Fakhouri,Production Technician - WC20,James Hamilton,Vice President of Production
14,144,Paul Singh,Production Technician - WC20,James Hamilton,Vice President of Production
15,192,Brenda Diaz,Production Supervisor - WC40,James Hamilton,Vice President of Production
16,166,Jack Richins,Production Supervisor - WC30,James Hamilton,Vice President of Production
17,112,John Evans,Production Technician - WC50,James Hamilton,Vice President of Production
18,203,Ken Myer,Production Technician - WC40,James Hamilton,Vice President of Production
19,245,Barbara Moreland,Accountant,Laura Norman,Chief Financial Officer
20,257,Eric Kurjan,Buyer,Wendy Kahn,Finance Manager
21,244,Bryan Walton,Accounts Receivable Specialist,Laura Norman,Chief Financial Officer
22,69,Steve Masters,Production Technician - WC60,James Hamilton,Vice President of Production
23,210,Belinda Newman,Production Technician - WC45,James Hamilton,Vice President of Production
24,163,Alex Nayberg,Production Technician - WC45,James Hamilton,Vice President of Production
25,118,Don Hall,Production Technician - WC50,James Hamilton,Vice President of Production
26,176,David Lawrence,Production Technician - WC30,James Hamilton,Vice President of Production
27,147,Sandra Reátegui Alayo,Production Technician - WC30,James Hamilton,Vice President of Production
28,138,Samantha Smith,Production Technician - WC20,James Hamilton,Vice President of Production
29,95,Jim Scardelis,Production Technician - WC50,James Hamilton,Vice President of Production
...,...,...,...,...,...
261,70,David Ortiz,Production Technician - WC60,James Hamilton,Vice President of Production
262,219,Sean Chai,Document Control Assistant,Ken Sánchez,Chief Executive Officer
263,148,Jason Watters,Production Technician - WC30,James Hamilton,Vice President of Production
264,140,Prasanna Samarawickrama,Production Technician - WC20,James Hamilton,Vice President of Production
265,290,Ranjit Varkey Chudukatil,Sales Representative,Brian Welcker,Vice President of Sales
266,5,Gail Erickson,Design Engineer,Ken Sánchez,Chief Executive Officer
267,252,Arvind Rao,Buyer,Wendy Kahn,Finance Manager
268,266,Peter Connelly,Network Administrator,Laura Norman,Chief Financial Officer
269,233,Magnus Hedlund,Facilities Administrative Assistant,Ken Sánchez,Chief Executive Officer
270,83,Patrick Cook,Production Technician - WC40,James Hamilton,Vice President of Production
271,251,Mikael Sandberg,Buyer,Wendy Kahn,Finance Manager
272,241,David Liu,Accounts Manager,Laura Norman,Chief Financial Officer
273,25,James Hamilton,Vice President of Production,NaN,NaN
274,108,Jinghao Liu,Production Supervisor - WC50,James Hamilton,Vice President of Production
275,239,Mindy Martin,Benefits Specialist,Ken Sánchez,Chief Executive Officer
276,27,Jo Brown,Production Supervisor - WC60,James Hamilton,Vice President of Production
277,186,Shane Kim,Production Supervisor - WC45,James Hamilton,Vice President of Production
278,38,Kim Abercrombie,Production Technician - WC60,James Hamilton,Vice President of Production
279,154,Raymond Sam,Production Technician - WC20,James Hamilton,Vice President of Production
280,114,Mindaugas Krapauskas,Production Technician - WC50,James Hamilton,Vice President of Production
281,123,Vamsi Kuppa,Shipping and Receiving Clerk,Wendy Kahn,Finance Manager
282,29,Mark McArthur,Production Technician - WC60,James Hamilton,Vice President of Production
283,101,Houman Pournasseh,Production Technician - WC50,James Hamilton,Vice President of Production
284,221,Chris Norred,Control Specialist,Ken Sánchez,Chief Executive Officer
285,18,John Wood,Marketing Specialist,Ken Sánchez,Chief Executive Officer
286,46,Eugene Kogan,Production Technician - WC60,James Hamilton,Vice President of Production
287,202,Tawana Nusbaum,Production Technician - WC40,James Hamilton,Vice President of Production
288,289,Jae Pak,Sales Representative,Brian Welcker,Vice President of Sales
289,288,Rachel Valdez,Sales Representative,Brian Welcker,Vice President of Sales
290,999,Chadwick Smith,BI Professor,NaN,NaN

### 9c. For those employees who don't have a boss's boss, display "n/a" for BossBossFullName and BossBossTitle

SELECT emp.EmployeeID
		,emp.FirstName + ' ' + emp.LastName AS EmployeeFullName
		,emp.JobTitle AS EmployeeTitle
		,COALESCE(mgr2.FirstName + ' ' + mgr2.LastName, 'n/a') AS BossBossFullName
		,COALESCE(mgr2.JobTitle, 'n/a') AS BossBossTitle
	FROM dbo.Employees emp
	LEFT OUTER JOIN dbo.Employees mgr
		ON emp.ManagerID = mgr.EmployeeID
	LEFT OUTER JOIN dbo.Employees mgr2
		ON mgr.ManagerID = mgr2.EmployeeID
	ORDER BY BossBossTitle, EmployeeTitle
;

In [88]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
boss_boss = pd.merge(pd.merge(Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], left_on='ManagerID', right_on='EmployeeID', how='left'), Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], left_on='ManagerID_y', right_on='EmployeeID', how='left')
boss_boss[['EmployeeID_x','FullName_x', 'JobTitle_x', 'FullName', 'JobTitle']].rename(columns=({'FullName_x':'EmployeeFullName', 'JobTitle_x':'EmployeeTitle', 'FullName':'BossBossFullName', 'JobTitle':'BossBossTitle'})).fillna('n/a').sort_values(['BossBossTitle', 'EmployeeTitle'])

,EmployeeID_x,EmployeeFullName,EmployeeTitle,BossBossFullName,BossBossTitle
254,262,David Barber,Assistant to the Chief Financial Officer,Ken Sánchez,Chief Executive Officer
275,239,Mindy Martin,Benefits Specialist,Ken Sánchez,Chief Executive Officer
90,218,Tengiz Kharatishvili,Control Specialist,Ken Sánchez,Chief Executive Officer
284,221,Chris Norred,Control Specialist,Ken Sánchez,Chief Executive Officer
158,6,Jossef Goldberg,Design Engineer,Ken Sánchez,Chief Executive Officer
201,15,Sharon Salavaria,Design Engineer,Ken Sánchez,Chief Executive Officer
266,5,Gail Erickson,Design Engineer,Ken Sánchez,Chief Executive Officer
82,220,Karen Berge,Document Control Assistant,Ken Sánchez,Chief Executive Officer
262,219,Sean Chai,Document Control Assistant,Ken Sánchez,Chief Executive Officer
94,217,Zainal Arifin,Document Control Manager,Ken Sánchez,Chief Executive Officer
48,3,Roberto Tamburello,Engineering Manager,Ken Sánchez,Chief Executive Officer
135,287,Amy Alberts,European Sales Manager,Ken Sánchez,Chief Executive Officer
269,233,Magnus Hedlund,Facilities Administrative Assistant,Ken Sánchez,Chief Executive Officer
125,249,Wendy Kahn,Finance Manager,Ken Sánchez,Chief Executive Officer
47,236,Grant Culbertson,Human Resources Administrative Assistant,Ken Sánchez,Chief Executive Officer
218,237,Hao Chen,Human Resources Administrative Assistant,Ken Sánchez,Chief Executive Officer
57,263,Jean Trenary,Information Services Manager,Ken Sánchez,Chief Executive Officer
30,231,Jo Berry,Janitor,Ken Sánchez,Chief Executive Officer
52,230,Stuart Macrae,Janitor,Ken Sánchez,Chief Executive Officer
58,232,Pat Coleman,Janitor,Ken Sánchez,Chief Executive Officer
98,229,Lori Penor,Janitor,Ken Sánchez,Chief Executive Officer
232,228,Christian Kleinerman,Maintenance Supervisor,Ken Sánchez,Chief Executive Officer
175,19,Mary Dempsey,Marketing Assistant,Ken Sánchez,Chief Executive Officer
194,20,Wanida Benshoof,Marketing Assistant,Ken Sánchez,Chief Executive Officer
226,17,Kevin Brown,Marketing Assistant,Ken Sánchez,Chief Executive Officer
7,22,Sariya Harnpadoungsataya,Marketing Specialist,Ken Sánchez,Chief Executive Officer
84,24,Jill Williams,Marketing Specialist,Ken Sánchez,Chief Executive Officer
112,23,Mary Gibson,Marketing Specialist,Ken Sánchez,Chief Executive Officer
249,21,Terry Eminhizer,Marketing Specialist,Ken Sánchez,Chief Executive Officer
285,18,John Wood,Marketing Specialist,Ken Sánchez,Chief Executive Officer
...,...,...,...,...,...
231,35,Brandon Heidepriem,Production Technician - WC60,James Hamilton,Vice President of Production
245,37,Chris Okelberry,Production Technician - WC60,James Hamilton,Vice President of Production
253,67,Jay Adams,Production Technician - WC60,James Hamilton,Vice President of Production
261,70,David Ortiz,Production Technician - WC60,James Hamilton,Vice President of Production
278,38,Kim Abercrombie,Production Technician - WC60,James Hamilton,Vice President of Production
282,29,Mark McArthur,Production Technician - WC60,James Hamilton,Vice President of Production
286,46,Eugene Kogan,Production Technician - WC60,James Hamilton,Vice President of Production
1,278,Garrett Vargas,Sales Representative,Brian Welcker,Vice President of Sales
54,283,David Campbell,Sales Representative,Brian Welcker,Vice President of Sales
63,276,Linda Mitchell,Sales Representative,Brian Welcker,Vice President of Sales
93,286,Lynn Tsoflias,Sales Representative,Brian Welcker,Vice President of Sales
114,284,Tete Mensa-Annan,Sales Representative,Brian Welcker,Vice President of Sales
163,281,Shu Ito,Sales Representative,Brian Welcker,Vice President of Sales
176,280,Pamela Ansman-Wolfe,Sales Representative,Brian Welcker,Vice President of Sales
230,277,Jillian Carson,Sales Representative,Brian Welcker,Vice President of Sales
235,275,Michael Blythe,Sales Representative,Brian Welcker,Vice President of Sales
240,279,Tsvi Reiter,Sales Representative,Brian Welcker,Vice President of Sales
256,282,José Saraiva,Sales Representative,Brian Welcker,Vice President of Sales
265,290,Ranjit Varkey Chudukatil,Sales Representative,Brian Welcker,Vice President of Sales
288,289,Jae Pak,Sales Representative,Brian Welcker,Vice President of Sales
289,288,Rachel Valdez,Sales Representative,Brian Welcker,Vice President of Sales
290,999,Chadwick Smith,BI Professor,n/a,n/a
123,1,Ken Sánchez,Chief Executive Officer,n/a,n/a
193,234,Laura Norman,Chief Financial Officer,n/a,n/a
66,227,Gary Altman,Facilities Manager,n/a,n/a
121,235,Paula Barreto de Mattos,Human Resources Manager,n/a,n/a
106,16,David Bradley,Marketing Manager,n/a,n/a
214,2,Terri Duffy,Vice President of Engineering,n/a,n/a
273,25,James Hamilton,Vice President of Production,n/a,n/a
222,273,Brian Welcker,Vice President of Sales,n/a,n/a

### 9d. Change the sort so that the ones with "n/a" are at the top of the list

SELECT emp.EmployeeID
		,emp.FirstName + ' ' + emp.LastName AS EmployeeFullName
		,emp.JobTitle AS EmployeeTitle
		,COALESCE(mgr2.FirstName + ' ' + mgr2.LastName, 'n/a') AS BossBossFullName
		,COALESCE(mgr2.JobTitle, 'n/a') AS BossBossTitle
	FROM dbo.Employees emp
	LEFT OUTER JOIN dbo.Employees mgr
		ON emp.ManagerID = mgr.EmployeeID
	LEFT OUTER JOIN dbo.Employees mgr2
		ON mgr.ManagerID = mgr2.EmployeeID
	ORDER BY mgr2.JobTitle, EmployeeTitle
    ;

In [92]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
boss_boss = pd.merge(pd.merge(Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], left_on='ManagerID', right_on='EmployeeID', how='left'), Employees[['EmployeeID','FullName','JobTitle', 'ManagerID']], left_on='ManagerID_y', right_on='EmployeeID', how='left')
boss_boss[['EmployeeID_x','FullName_x', 'JobTitle_x', 'FullName', 'JobTitle']].rename(columns=({'FullName_x':'EmployeeFullName', 'JobTitle_x':'EmployeeTitle', 'FullName':'BossBossFullName', 'JobTitle':'BossBossTitle'})).fillna('n/a').sort_values(['BossBossTitle', 'EmployeeTitle'], ascending=[False,True])

,EmployeeID_x,EmployeeFullName,EmployeeTitle,BossBossFullName,BossBossTitle
290,999,Chadwick Smith,BI Professor,n/a,n/a
123,1,Ken Sánchez,Chief Executive Officer,n/a,n/a
193,234,Laura Norman,Chief Financial Officer,n/a,n/a
66,227,Gary Altman,Facilities Manager,n/a,n/a
121,235,Paula Barreto de Mattos,Human Resources Manager,n/a,n/a
106,16,David Bradley,Marketing Manager,n/a,n/a
214,2,Terri Duffy,Vice President of Engineering,n/a,n/a
273,25,James Hamilton,Vice President of Production,n/a,n/a
222,273,Brian Welcker,Vice President of Sales,n/a,n/a
1,278,Garrett Vargas,Sales Representative,Brian Welcker,Vice President of Sales
54,283,David Campbell,Sales Representative,Brian Welcker,Vice President of Sales
63,276,Linda Mitchell,Sales Representative,Brian Welcker,Vice President of Sales
93,286,Lynn Tsoflias,Sales Representative,Brian Welcker,Vice President of Sales
114,284,Tete Mensa-Annan,Sales Representative,Brian Welcker,Vice President of Sales
163,281,Shu Ito,Sales Representative,Brian Welcker,Vice President of Sales
176,280,Pamela Ansman-Wolfe,Sales Representative,Brian Welcker,Vice President of Sales
230,277,Jillian Carson,Sales Representative,Brian Welcker,Vice President of Sales
235,275,Michael Blythe,Sales Representative,Brian Welcker,Vice President of Sales
240,279,Tsvi Reiter,Sales Representative,Brian Welcker,Vice President of Sales
256,282,José Saraiva,Sales Representative,Brian Welcker,Vice President of Sales
265,290,Ranjit Varkey Chudukatil,Sales Representative,Brian Welcker,Vice President of Sales
288,289,Jae Pak,Sales Representative,Brian Welcker,Vice President of Sales
289,288,Rachel Valdez,Sales Representative,Brian Welcker,Vice President of Sales
182,102,Zheng Mu,Production Supervisor - WC10,James Hamilton,Vice President of Production
184,47,Andrew Hill,Production Supervisor - WC10,James Hamilton,Vice President of Production
202,87,Cristian Petculescu,Production Supervisor - WC10,James Hamilton,Vice President of Production
103,134,Eric Gubbels,Production Supervisor - WC20,James Hamilton,Vice President of Production
134,180,Katie McAskill-White,Production Supervisor - WC20,James Hamilton,Vice President of Production
136,152,Yuhong Li,Production Supervisor - WC20,James Hamilton,Vice President of Production
16,166,Jack Richins,Production Supervisor - WC30,James Hamilton,Vice President of Production
...,...,...,...,...,...
7,22,Sariya Harnpadoungsataya,Marketing Specialist,Ken Sánchez,Chief Executive Officer
84,24,Jill Williams,Marketing Specialist,Ken Sánchez,Chief Executive Officer
112,23,Mary Gibson,Marketing Specialist,Ken Sánchez,Chief Executive Officer
249,21,Terry Eminhizer,Marketing Specialist,Ken Sánchez,Chief Executive Officer
285,18,John Wood,Marketing Specialist,Ken Sánchez,Chief Executive Officer
260,222,A. Scott Wright,Master Scheduler,Ken Sánchez,Chief Executive Officer
59,274,Stephen Jiang,North American Sales Manager,Ken Sánchez,Chief Executive Officer
212,285,Syed Abbas,Pacific Sales Manager,Ken Sánchez,Chief Executive Officer
101,26,Peter Krebs,Production Control Manager,Ken Sánchez,Chief Executive Officer
140,211,Hazem Abolrous,Quality Assurance Manager,Ken Sánchez,Chief Executive Officer
65,212,Peng Wu,Quality Assurance Supervisor,Ken Sánchez,Chief Executive Officer
33,214,Andreas Berglund,Quality Assurance Technician,Ken Sánchez,Chief Executive Officer
117,213,Sootha Charncherngkha,Quality Assurance Technician,Ken Sánchez,Chief Executive Officer
229,216,Sean Alexander,Quality Assurance Technician,Ken Sánchez,Chief Executive Officer
246,215,Mark Harrington,Quality Assurance Technician,Ken Sánchez,Chief Executive Officer
76,238,Vidur Luthra,Recruiter,Ken Sánchez,Chief Executive Officer
153,240,Willis Johnson,Recruiter,Ken Sánchez,Chief Executive Officer
130,8,Diane Margheim,Research and Development Engineer,Ken Sánchez,Chief Executive Officer
223,9,Gigi Matthew,Research and Development Engineer,Ken Sánchez,Chief Executive Officer
10,10,Michael Raheem,Research and Development Manager,Ken Sánchez,Chief Executive Officer
196,7,Dylan Miller,Research and Development Manager,Ken Sánchez,Chief Executive Officer
55,226,Brian LaMee,Scheduling Assistant,Ken Sánchez,Chief Executive Officer
64,225,Alan Brewer,Scheduling Assistant,Ken Sánchez,Chief Executive Officer
187,224,William Vong,Scheduling Assistant,Ken Sánchez,Chief Executive Officer
233,223,Sairaj Uddin,Scheduling Assistant,Ken Sánchez,Chief Executive Officer
181,14,Michael Sullivan,Senior Design Engineer,Ken Sánchez,Chief Executive Officer
154,11,Ovidiu Cracium,Senior Tool Designer,Ken Sánchez,Chief Executive Officer
161,4,Rob Walters,Senior Tool Designer,Ken Sánchez,Chief Executive Officer
40,12,Thierry D'Hers,Tool Designer,Ken Sánchez,Chief Executive Officer
92,13,Janice Galvin,Tool Designer,Ken Sánchez,Chief Executive Officer

### 10a. We need a list of each manager's indirect reports (i.e., 2 levels down)
Columns: ManagerFullName, ManagerTitle, IndirectReportFullName, IndirectReportTitle<br />
Sort by ManagerTitle and IndirectReportTitle

SELECT mgr.FirstName + ' ' + mgr.LastName AS ManagerFullName
		,mgr.JobTitle AS ManagerTitle
		,COUNT(*) AS NumIndirectReports
	FROM dbo.Employees mgr
	INNER JOIN dbo.Employees emp
		ON mgr.EmployeeID = emp.ManagerID
	INNER JOIN dbo.Employees emp2
		ON emp.EmployeeID = emp2.ManagerID
	GROUP BY mgr.EmployeeID
		,mgr.FirstName
		,mgr.LastName
		,mgr.JobTitle
	ORDER BY ManagerTitle
    ;

In [103]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
emp_emp = pd.merge(pd.merge(Employees[['EmployeeID','FullName','JobTitle']], Employees[['EmployeeID', 'ManagerID']], left_on='EmployeeID', right_on='ManagerID', how='inner'), Employees[['ManagerID', 'EmployeeID','FullName','JobTitle' ]], left_on='EmployeeID_y', right_on='ManagerID', how='inner')
emp_emp[['FullName_x', 'JobTitle_x', 'FullName_y', 'JobTitle_y']].rename(columns=({'FullName_x':'ManagerFullName', 'JobTitle_x':'ManagerTitle', 'FullName_y':'IndirectFullName', 'JobTitle_y':'IndirectTitle'})).sort_values('ManagerTitle')

,ManagerFullName,ManagerTitle,IndirectFullName,IndirectTitle
0,Ken Sánchez,Chief Executive Officer,Jo Berry,Janitor
30,Ken Sánchez,Chief Executive Officer,Alan Brewer,Scheduling Assistant
31,Ken Sánchez,Chief Executive Officer,Peng Wu,Quality Assurance Supervisor
32,Ken Sánchez,Chief Executive Officer,Karen Berge,Document Control Assistant
33,Ken Sánchez,Chief Executive Officer,Tengiz Kharatishvili,Control Specialist
34,Ken Sánchez,Chief Executive Officer,Janice Galvin,Tool Designer
35,Ken Sánchez,Chief Executive Officer,Zainal Arifin,Document Control Manager
37,Ken Sánchez,Chief Executive Officer,Sootha Charncherngkha,Quality Assurance Technician
38,Ken Sánchez,Chief Executive Officer,Diane Margheim,Research and Development Engineer
39,Ken Sánchez,Chief Executive Officer,Hazem Abolrous,Quality Assurance Manager
40,Ken Sánchez,Chief Executive Officer,Ovidiu Cracium,Senior Tool Designer
41,Ken Sánchez,Chief Executive Officer,Jossef Goldberg,Design Engineer
29,Ken Sánchez,Chief Executive Officer,Brian LaMee,Scheduling Assistant
42,Ken Sánchez,Chief Executive Officer,Rob Walters,Senior Tool Designer
44,Ken Sánchez,Chief Executive Officer,William Vong,Scheduling Assistant
45,Ken Sánchez,Chief Executive Officer,Dylan Miller,Research and Development Manager
46,Ken Sánchez,Chief Executive Officer,Sharon Salavaria,Design Engineer
47,Ken Sánchez,Chief Executive Officer,Gigi Matthew,Research and Development Engineer
48,Ken Sánchez,Chief Executive Officer,Sean Alexander,Quality Assurance Technician
49,Ken Sánchez,Chief Executive Officer,Sairaj Uddin,Scheduling Assistant
50,Ken Sánchez,Chief Executive Officer,Mark Harrington,Quality Assurance Technician
51,Ken Sánchez,Chief Executive Officer,A. Scott Wright,Master Scheduler
52,Ken Sánchez,Chief Executive Officer,Sean Chai,Document Control Assistant
53,Ken Sánchez,Chief Executive Officer,Gail Erickson,Design Engineer
54,Ken Sánchez,Chief Executive Officer,Chris Norred,Control Specialist
43,Ken Sánchez,Chief Executive Officer,Michael Sullivan,Senior Design Engineer
28,Ken Sánchez,Chief Executive Officer,Roberto Tamburello,Engineering Manager
36,Ken Sánchez,Chief Executive Officer,Peter Krebs,Production Control Manager
26,Ken Sánchez,Chief Executive Officer,Andreas Berglund,Quality Assurance Technician
1,Ken Sánchez,Chief Executive Officer,Stuart Macrae,Janitor
...,...,...,...,...
148,James Hamilton,Vice President of Production,Maciej Dusza,Production Technician - WC60
149,James Hamilton,Vice President of Production,Lane Sacksteder,Production Technician - WC20
150,James Hamilton,Vice President of Production,Lori Kane,Production Supervisor - WC45
151,James Hamilton,Vice President of Production,Patrick Wedge,Production Technician - WC10
152,James Hamilton,Vice President of Production,George Li,Production Technician - WC30
146,James Hamilton,Vice President of Production,Angela Barbariol,Production Technician - WC50
154,James Hamilton,Vice President of Production,Rebecca Laszlo,Production Technician - WC60
153,James Hamilton,Vice President of Production,Barry Johnson,Production Technician - WC10
161,James Hamilton,Vice President of Production,Simon Rapier,Production Technician - WC60
160,James Hamilton,Vice President of Production,Jeff Hay,Production Supervisor - WC45
159,James Hamilton,Vice President of Production,Shammi Mohamed,Production Technician - WC40
281,James Hamilton,Vice President of Production,Tawana Nusbaum,Production Technician - WC40
157,James Hamilton,Vice President of Production,Suroor Fatima,Production Technician - WC50
156,James Hamilton,Vice President of Production,Alice Ciccu,Production Technician - WC50
155,James Hamilton,Vice President of Production,Nicole Holliday,Production Technician - WC40
158,James Hamilton,Vice President of Production,Linda Moschell,Production Technician - WC50
90,Brian Welcker,Vice President of Sales,Garrett Vargas,Sales Representative
91,Brian Welcker,Vice President of Sales,David Campbell,Sales Representative
92,Brian Welcker,Vice President of Sales,Linda Mitchell,Sales Representative
93,Brian Welcker,Vice President of Sales,Tete Mensa-Annan,Sales Representative
94,Brian Welcker,Vice President of Sales,Shu Ito,Sales Representative
95,Brian Welcker,Vice President of Sales,Pamela Ansman-Wolfe,Sales Representative
97,Brian Welcker,Vice President of Sales,Michael Blythe,Sales Representative
98,Brian Welcker,Vice President of Sales,Tsvi Reiter,Sales Representative
99,Brian Welcker,Vice President of Sales,José Saraiva,Sales Representative
101,Brian Welcker,Vice President of Sales,Jae Pak,Sales Representative
102,Brian Welcker,Vice President of Sales,Rachel Valdez,Sales Representative
103,Brian Welcker,Vice President of Sales,Lynn Tsoflias,Sales Representative
96,Brian Welcker,Vice President of Sales,Jillian Carson,Sales Representative
100,Brian Welcker,Vice President of Sales,Ranjit Varkey Chudukatil,Sales Representative

### 10b. Please tell us how many indirect reports each manager has
Columns: ManagerFullName, ManagerTitle, NumIndirectReports

SELECT mgr.FirstName + ' ' + mgr.LastName AS ManagerFullName
		,mgr.JobTitle AS ManagerTitle
		,COUNT(*) AS NumIndirectReports
	FROM dbo.Employees mgr
	INNER JOIN dbo.Employees emp
		ON mgr.EmployeeID = emp.ManagerID
	INNER JOIN dbo.Employees emp2
		ON emp.EmployeeID = emp2.ManagerID
	GROUP BY mgr.EmployeeID
		,mgr.FirstName
		,mgr.LastName
		,mgr.JobTitle
	ORDER BY ManagerTitle
    ;

In [97]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
emp_emp = pd.merge(pd.merge(Employees[['EmployeeID','FullName','JobTitle']], Employees[['EmployeeID', 'ManagerID']], left_on='EmployeeID', right_on='ManagerID', how='inner'), Employees[['ManagerID']], left_on='EmployeeID_y', right_on='ManagerID', how='inner')
emp_emp.groupby(['FullName', 'JobTitle']).ManagerID_y.count().reset_index().rename(columns=({'FullName':'ManagerFullName', 'JobTitle':'ManagerTitle', 'ManagerID_y':'MunIndirectReports'})).sort_values('ManagerTitle')

  ManagerFullName                  ManagerTitle  MunIndirectReports
2     Ken Sánchez       Chief Executive Officer                  55
3    Laura Norman       Chief Financial Officer                  18
4      Wendy Kahn               Finance Manager                  17
1  James Hamilton  Vice President of Production                 178
0   Brian Welcker       Vice President of Sales                  14

### 11. Start with the query from #4c and change it so it returns just one number in the result: the count of managers in the company

SELECT COUNT(DISTINCT mgr.EmployeeID) AS NumManagers
	FROM dbo.Employees emp
	INNER JOIN dbo.Employees mgr
		ON emp.ManagerID = mgr.EmployeeID

In [121]:
Employees['FullName']=Employees.FirstName.str.cat(Employees.LastName, sep=' ')
emps_mngr = pd.merge(Employees, Employees, right_on='ManagerID', left_on='EmployeeID', how='inner')
emps_mngr2 = emps_mngr[['FullName_x', 'JobTitle_x']].rename(columns={'FullName_x': 'BossFullName', 'JobTitle_x':'BossJobTitle'})
len(emps_mngr2.BossFullName.unique())

14

### BONUS 1a. The HR people have come to you with a problem, they realized that some of the employee names were entered into the system with 2 spaces instead of 1
Find anyone with a FirstName, MiddleName, or LastName that has 2 spaces<br />
Columns: EmployeeID, FirstName, MiddleName, LastName

SELECT e.EmployeeID
		,e.FirstName
		,e.MiddleName
		,e.LastName
	FROM dbo.Employees e
	WHERE e.FirstName LIKE '%  %'
		OR e.MiddleName LIKE '%  %'
		OR e.LastName LIKE '%  %'

In [127]:
Employees[Employees.FirstName.str.contains('.*  .*') | Employees.MiddleName.str.contains('.*  .*') | Employees.LastName.str.contains('.*  .*')][['EmployeeID', 'FirstName', 'MiddleName', 'LastName']]

     EmployeeID  FirstName         MiddleName            LastName
121         235      Paula                  M  Barreto  de Mattos
169         272    Janaina  Barreiro  Gambaro               Bueno
260         222  A.  Scott                NaN              Wright

### BONUS 1b. Display the same list but correct the names to display what they should look like

SELECT e.EmailAddress
		,SUBSTRING(e.EmailAddress, CHARINDEX('@', e.EmailAddress)+1, 1000)
	FROM dbo.Employees as e
	;